#login_box{height: 681px; padding: 54px 20px; box-sizing: border-box;}
#login_box h3{margin-bottom: 20px; font-size: 20px;}
#login_box form{height: 83px; position: relative; margin-bottom: 46px;}
#login_box form input{width: 213px; line-height: 33px; border-radius: 10px; margin-bottom: 9px; border: 1px solid #2c1f0a;}
#login_box form button{width: 78px; line-height: 79px; border-radius: 10px; right: 0; top: 0; position: absolute; font-size: 14px; background-color: #EEE8E0; border: 1px solid #2c1f0a; cursor: pointer;}

.search{padding: 0 35px;}
.search button{padding: 10px 10px; background-color: #42594A; color: #fff; border: none; border-radius: 10px; font-size: 12px; margin-right: 12px; cursor: pointer;}